@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #111930;
  width: 100%;
  height: 100vh;
  /* overflow: hidden; */
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: padding-box rgb(193, 191, 182);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  border: 0;
}

::-webkit-scrollbar-track {
  background: transparent;
  border: none;
}

:where(.css-dev-only-do-not-override-1fumvat).ant-table-wrapper .ant-table {
  scrollbar-color: initial;
}

::selection {
  background-color: #233554;
  color: #ccd6f6;
}

.MuiTableRow-head {
  background-color: #ededed !important;
}

.ant-table-body {
  height: 100%;
  overflow-y: auto !important;
}

.ant-select-dropdown,
.ant-message {
  z-index: 10001;
}

.ant-table-thead > tr > th {
  white-space: nowrap !important;
  text-overflow: clip !important;
}

.modal-overlay {
  position: fixed;
  top: 0;
  width: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
  transition: opacity 0.3s ease-in-out;
  z-index: 10000;
  pointer-events: none;
  visibility: hidden;
}
.modal-overlay.visible {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.modal-content.visible {
  transform: translateX(0);
}

.modal-content {
  width: 100%;
  transform: translateX(100%);
  max-width: 500px;
  background: white;
  height: 100%;
  padding: 0px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s linear;
}

.close-button {
  position: absolute;
  top: 10px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.long-column {
  min-width: 200px; /* Set a minimum width */
}

.rounded-lg-buttons.ant-dropdown-trigger {
  border-radius: 8px !important;
}

.antd-fonts {
    color: rgba(0, 0, 0, 0.88);
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
}